{
    "env": {
        "node": true,
        "browser": true,
        "commonjs": true,
        "es6": true,
        "mocha": true,
        "jest": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true,
            "jsx": true,
            "blockBindings": true,
            "forOf": true,
            "experimentalObjectRestSpread": true
        }
    },
    "globals": {
        "i18n": true,
        "React": true,
        "ReactDOM": true,
        "require": true,
        "__ENV__": true,
        "__DEV__": true,
        "__VERSION__": true,
        "__DEV_TOOLS__": true
    },
    "rules": {
        "brace-style": [2, "stroustrup", { "allowSingleLine": false }],
        "default-case": 2,
        "indent": [2, "tab", {"SwitchCase": 1}],
        "new-cap": 0, // for things like Immutable.Map()
        "no-catch-shadow": 2,
        "no-eq-null": 2,
        "no-floating-decimal": 2,
        "no-inline-comments": 0,
        "no-nested-ternary": 2,
        "no-param-reassign": 0,
        "quote-props": [2, "as-needed"],
        "no-self-compare": 2,
        "no-shadow": 0,
        "no-throw-literal": 2,
        "no-undefined": 0,
        "no-void": 2,
        "quotes": [1, "double"],
        "keyword-spacing": 2,
        "wrap-iife": [2, "outside"],
        "no-underscore-dangle": 0, // Allow leading underscores for method names - REASON: we use underscores to denote private methods
        "dot-notation": 0,
        "no-unused-vars": [2, { vars: "local" }],
        "no-undef": 2
    },
    "plugins": [
        "react",
        "mocha",
        "babel"
    ],
    "extends": ["eslint:recommended", "plugin:react/recommended"]
}